@primary-bg: rgb(46,65,156);
@primary-bg-dark: rgb(31,31,31);
@primary-color-dark: black;
@button-search-color: rgb(32,140,80);
@button-save-color: mix(@primary-bg, rgb(32,140,80), 50%);
@color-dark: darken(white, 20%);

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  will-change: background-color, color;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: @primary-bg;
  color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px #888888;

  #logo {
    display: flex;
    flex: 3;
    align-items: center;
    background-color: white;
    border-radius: 9px 0 0 9px;
  }

  #logo img {
    width: 100%;
    height: 10vh;
    object-fit: cover;
  }

  #title {
    flex: 4;
    font-size: clamp(1rem, 4.5vw, 1.75rem);
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
  }

  #theme-switcher {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .theme-icon {
      font-size: 1.5rem;
      color: white;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 4.4rem;
      height: 2.2rem;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 34px;

        &::before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          transition: 0.4s;
          border-radius: 50%;
        }
      }

      input:checked + .slider {
        background-color: @primary-bg-dark;

        &::before {
          transform: translateX(36px);
        }
      }
    }
  }

  #save-fav {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: darken(@primary-bg, 5%);
    border-radius: 25px 10px 10px 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .fav-icon {
      font-size: 1.75rem;
      cursor: pointer;
      transition: transform 0.3s ease;
      will-change: transform;

      &:hover {
        transform: scale(1.1);
      }
    }

    #favourites-container {
      display: none;
      position: absolute;
      top: 70px;
      right: 10px;
      background-color: lightgray;
      border: 2px solid darkgray;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 2px 10px gray;
      width: 200px;
      z-index: 1;

      h3 {
        color: black;
        text-align: center;
      }

      #favourites-list {
        list-style-type: none;
        padding: 0;

        #load-del-buttons {
          display: flex;
          align-items: flex-end;
          gap: 0.25em;

          button {
            transition: transform 0.3s ease;
            will-change: transform;

            &:hover {
              transform: scale(1.1);
            }
          }

          #load-btn {
            background-color: rgba(66, 216, 61, 0.8);
            border-color: green;
          }

          #del-btn {
            background-color: rgba(217, 61, 61, 0.8);
            border-color: darkred;
          }
        }

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: black;
          border-bottom: 1px solid gray;
          padding: 5px;
          font-style: italic;

          &:last-child {
            border-bottom: none;
          }
        }

        button {
          padding: 2px 10px 2px 10px;
          border: 2px solid gray;
          border-radius: 10%;
          cursor: pointer;
          transition: transform 0.3s ease;
          will-change: transform;

        }
      }
    }
  }
  @media (width < 1500px) {
    #logo img {
      object-fit: contain;
    }
  }
  @media (width < 1000px) {
    #logo {
        flex: 1;
        justify-content: center;
      img {
        content: url('imgs/logo-small.png');
        width: 7.5vh;
      }
    }
    #theme-switcher {
      margin-right: 15px;

      .theme-icon {
        font-size: calc(1.5rem - 15%);
      }
    }

    #save-fav {
      flex: 0.75;
      .fav-icon {
        font-size: 1.5rem;
      }
    }
  }
  @media (width < 750px) {
    #logo {
      flex: 0.75;
      padding: 0 5px 0 5px;
    }
    #theme-switcher {
      .theme-icon {
        font-size: calc(1.5rem - 25%);
      }
      .switch {
        width: calc(4.4rem - 1vw);
        height: calc(2.2rem - 1vh);

        .slider::before {
          width: calc(26px - 1vw);
          height: calc(26px - 1vh);
        }
      }
    }
    #save-fav .fav-icon {
      font-size: calc(1.5rem - 25%);
    }
  }
  @media (width < 450px) {
    #theme-switcher {
      gap: 5px;
      .theme-icon {
        font-size: calc(1.5rem - 50%);
      }
      .switch {
        width: calc(4.4rem - 1.5vw);
        height: calc(2.2rem - 1.5vh);

        .slider::before {
          width: calc(26px - 1.5vw);
          height: calc(26px - 1.5vh);
        }
      }
    }
    #save-fav .fav-icon {
      font-size: calc(1.5rem - 50%);
    }
  }
}

#container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;

  #input-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 20px 0 20px;

    .input-group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;

      label {
        width: 120px;
        text-align: left;
        font-size: 1rem;
      }

      input {
        width: 15vw;
        padding: 6px;
        font-size: 1rem;
        border-radius: 10px;
        border: 2px solid @primary-bg;
        box-sizing: border-box;
        transition: background-color 0.3s ease;

        &:focus {
          background-color: lighten(@primary-bg, 50%);
        }
      }
    }
    #button-container {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 15px;

      button {
        font-size: 1rem;
        font-weight: bold;
        color: white;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        transition: transform 0.3s ease, background-color 0.3s ease;
        will-change: transform;

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }

        &:first-child {
          background-color: @button-search-color;
          width: 12em;
          &:hover {
            background-color: lighten(@button-search-color, 5%);
          }
        }
        &:nth-child(2) {
          background-color: @primary-bg;
          width: 8em;
          &:hover {
            background-color: lighten(@primary-bg, 5%);
          }
        }
        &:nth-child(3) {
          background-color: @button-save-color;
          width: 4em;
          &:hover {
            background-color: lighten(@button-save-color, 5%);
          }
        }
      }
    }
    #url-container {
      display: flex;
      justify-content: center;
      gap: 0.5vw;

      #generate-url {
        padding: 4px 10px 4px 10px;
        cursor: pointer;
        background-color: lighten(@primary-bg, 20%);
        border: 1px solid black;
        border-radius: 5px;
        outline: lighten(@primary-bg, 20%) solid 2px;
        color: white;
        font-weight: bold;
        transition: transform 0.3s ease, background-color 0.5s ease;
        will-change: transform, background-color;

        &:hover {
          transform: scale(1.05);
          background-color: lighten(@primary-bg, 25%);
        }
      }

      #generated-url {
        padding: 6px;
        width: clamp(8vw, 12vw, 50%);
        font-size: 0.8rem;
        border-radius: 5px;
        border: 2px solid @primary-bg;
        box-sizing: border-box;
        transition: background-color 0.3s ease;
      }

      #copy-url {
        background-color: lighten(green, 5%);
        padding: 4px 15px 4px 15px;
        border-radius: 5px;
        border: 1px solid black;
        color: white;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        transition: transform 0.3s ease, background-color 0.3s ease;
        will-change: transform, background-color;
        outline: green solid 2px;

        &:hover {
          transform: scale(1.05);
          background-color: lighten(green, 7.5%);
        }
        i {
          display: inline-block;
          transform: rotate(-45deg);
        }
      }
    }
  }

  #calendar-container {
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;

    .given-range-container {
      padding: 10px;

      label {
        font-weight: bold;
      }

      input {
        margin-right: 5px;
        border: 2px solid @primary-bg;
        border-radius: 5px;
        padding: 2px;
      }

      button {
        font-size: 0.8rem;
        font-weight: bold;
        color: white;
        background-color: lighten(@primary-bg, 5%);
        border: 1px solid black;
        border-radius: 10px;
        padding: 6px 10px 6px 10px;
        margin: 10px;
        box-sizing: border-box;
        transition: transform 0.3s ease, background-color 0.3s ease;
        will-change: transform;

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
          background-color: lighten(@primary-bg, 10%);
        }
      }
    }

    #calendar {
      width: 100%;
      height: 85vh;
      margin: auto;
      border: 2px solid #ccc;
      background-color: #f9f9f9;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 15px;
      overflow: auto;
      scrollbar-color: darkgray #fff;
    }

    .calendar-legend {
      display: flex;
      flex-direction: row;
      gap: 2vw;
      padding: 10px;
      margin-top: 5px;
      background-color: #f1f1f1;
      border: 1px solid lightgray;
      border-radius: 2px;
    }

    .legend-item {
      display: flex;
      align-items: center;
    }

    .legend-color {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border-radius: 50%;
    }

    .legend-label {
      font-size: 0.9rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    .fc-daygrid-day {
      border: 1px solid #ddd;
      background-color: #fdfdfd;
    }

    .fc-timegrid-slot {
      border: 1px solid #ddd;
      background-color: #fdfdfd;
    }

    .fc-col-header-cell {
      background-color: #2c3e50;
      color: white;
      font-weight: bold;
      font-size: 0.8rem;
      text-transform: uppercase;
      padding: 10px;
    }
  }
  @media (width < 1180px) {
    & {
      flex-direction: column;
      align-items: center;
      gap: 50px;
      margin: 0;

      #input-container {
        width: 80vw;

        input {
          flex: 0 0 30vw;
        }
      }
      #calendar-container {
        width: calc(100vw - 25%);
      }
    }
  }
  @media (width < 1000px) {
    #calendar-container {
      h2 {
        font-size: calc(1.5rem - 25%);
      }
      .fc-header-toolbar button {
        transform: scale(0.9);
        border-radius: 5px;
      }
    }
  }
  @media (width < 750px) {
    #calendar-container {
      .calendar-legend {
        flex-wrap: wrap;
        width: 60vw;
      }
      .fc-toolbar {
        flex-direction: column;
      }
      .fc-toolbar-chunk:first-child {
        padding-bottom: 10px;
      }
      .fc-toolbar-chunk:nth-child(2) {
        padding-bottom: 10px;
      }
    }

    #input-container .input-group {
      gap: calc(25px - 50%);

      input {
        width: 45vw;
      }
    }
    #button-container {
      button {
        transform: scale(0.9);
      }
    }
  }
  @media (width < 450px) {
    #input-container .input-group {
      label {
        display: none;
      }
      input {
        width: 60vw;
      }
    }
  }
}


// Ciemny motyw:

body.dark {
  background-color: @primary-bg-dark;
  color: @primary-color-dark;

  #header-container {
    background-color: darken(@primary-bg, 10%);
    box-shadow: 2px 2px 10px 2px rgb(31,31,31);
    border: 1px solid gray;

    #title {
      color: @color-dark;
    }

    #theme-switcher {
      .theme-icon {
        color: @color-dark;
      }
      .switch {
        .slider {
          background-color: lighten(@primary-bg-dark, 20%);

          &::before {
            background-color: gray;
          }
        }
      }
    }
    #save-fav {
      background-color: darken(@primary-bg, 15%);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

      .fav-icon {
        color: @color-dark;
      }

      #favourites-container {
        background-color: lighten(@primary-bg-dark, 20%);
        box-shadow: 0 5px 10px lighten(@primary-bg-dark, 10%);
        border-color: lighten(@primary-bg-dark, 10%);

        h3 {
          color: darken(@color-dark, 5%);
        }

        #favourites-list li {
          color: @color-dark;
        }
      }
    }
  }
  #container {
    #input-container {
      input {
        color: @color-dark;
        background-color: lighten(@primary-bg-dark, 10%);
        border-color: darken(@primary-bg, 10%);

        &:focus {
          background-color: lighten(@primary-bg-dark, 15%);
        }
      }
      .input-group label {
        color: @color-dark;
      }

      #button-container button {
        color: @color-dark;
        font-weight: bold;
        &:first-child {
          background-color: darken(@button-search-color, 10%);
        }
      }
      #url-container {
        #generate-url {
          background-color: @primary-bg;
          color: @color-dark;
          outline-color: lighten(@primary-bg, 5%);

          &:hover {
            background-color: lighten(@primary-bg, 5%);
          }
        }
        #generated-url {
          color: @color-dark;
          background-color: lighten(@primary-bg-dark, 10%);
          border-color: darken(@primary-bg, 10%);
        }
        #copy-url {
          color: @color-dark;
          background-color: darken(green, 5%);
          outline-color: darken(green, 10%);

          &:hover {
            background-color: darken(green, 2%);
          }
        }
      }
    }
    #calendar-container {
      .given-range-container {
        label {
          color: @color-dark;
        }
        input {
          background-color: gray;
        }
      }
      .calendar-legend {
        background-color: lighten(@primary-bg-dark,20%);
        color: @color-dark;
        border-color: gray;
      }
      #calendar {
        background-color: lighten(@primary-bg-dark, 15%);
        border-color: lighten(@primary-bg-dark, 15%);
        scrollbar-color: lighten(black, 20%) gray;
      }
      .fc-timegrid-slot {
        border-color: gray;
      }
      button, .fc-col-header-cell{
        color: @color-dark;
      }

      .fc-timegrid-axis, .fc-daygrid-day, .fc-timegrid-slot {
        background-color: lighten(@primary-bg-dark, 30%);
      }
      h2 {
        color: @color-dark;
      }
      .fc-event {
        background-color: darken(rgb(55,136,217),10%);
        border: none;
      }
      .fc-scrollgrid {
        border: 1px solid gray;
        color: @color-dark;
      }
      th {
        border: 1px solid lighten(@primary-bg-dark, 30%);
      }
    }
  }
}