body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: #2e419c;
  color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px #888888;
}
#header-container #logo {
  display: flex;
  flex: 3;
  align-items: center;
  background-color: white;
  border-radius: 9px 0 0 9px;
}
#header-container #logo img {
  width: 100%;
  height: 10vh;
  object-fit: cover;
}
#header-container #title {
  flex: 4;
  font-size: clamp(1rem, 4.5vw, 1.75rem);
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}
#header-container #theme-switcher {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#header-container #theme-switcher .theme-icon {
  font-size: 1.5rem;
  color: white;
}
#header-container #theme-switcher .switch {
  position: relative;
  display: inline-block;
  width: clamp(62px, 4.4rem, 78px);
  height: clamp(28px, 2.2rem, 40px);
}
#header-container #theme-switcher .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#header-container #theme-switcher .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
#header-container #theme-switcher .switch .slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
#header-container #theme-switcher .switch input:checked + .slider {
  background-color: #1f1f1f;
}
#header-container #theme-switcher .switch input:checked + .slider::before {
  transform: translateX(36px);
}
#header-container #save-fav {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #283988;
  border-radius: 25px 10px 10px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#header-container #save-fav .fav-icon {
  font-size: 1.75rem;
}
@media (width < 1000px) {
  #header-container #theme-switcher {
    margin-right: 15px;
  }
  #header-container #theme-switcher .theme-icon {
    font-size: 1.25rem;
  }
  #header-container #save-fav {
    flex: 0.75;
  }
  #header-container #save-fav .fav-icon {
    font-size: 1.5rem;
  }
}
#container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
#container #input-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 20px 0 20px;
}
#container #input-container .input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
#container #input-container .input-group label {
  width: 120px;
  text-align: left;
  font-size: 1rem;
}
#container #input-container .input-group input {
  width: 15vw;
  padding: 6px;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid #2e419c;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}
#container #input-container .input-group input:focus {
  background-color: #d6dbf3;
}
#container #input-container #button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
#container #input-container #button-container button {
  font-size: 1rem;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease, background-color 0.3s ease;
  will-change: transform;
}
#container #input-container #button-container button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
#container #input-container #button-container button:first-child {
  background-color: #208c50;
  width: 12em;
}
#container #input-container #button-container button:first-child:hover {
  background-color: #25a15c;
}
#container #input-container #button-container button:nth-child(2) {
  background-color: #2e419c;
  width: 8em;
}
#container #input-container #button-container button:nth-child(2):hover {
  background-color: #3449b0;
}
#container #input-container #button-container button:nth-child(3) {
  background-color: #276776;
  width: 4em;
}
#container #input-container #button-container button:nth-child(3):hover {
  background-color: #2d7789;
}
#container #calendar-container {
  padding: 0 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
#container #calendar-container #calendar {
  width: 100%;
  height: 40vw;
  margin: auto;
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  overflow: auto;
}
#container #calendar-container .fc-daygrid-day {
  border: 1px solid #ddd;
  background-color: #fdfdfd;
}
#container #calendar-container .fc-timegrid-slot {
  border: 1px solid #ddd;
  background-color: #fdfdfd;
}
#container #calendar-container .fc-col-header-cell {
  background-color: #2c3e50;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 10px;
}
@media (width < 1180px) {
  #container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 0;
  }
  #container #input-container {
    width: 80vw;
  }
  #container #input-container input {
    flex: 0 0 30vw;
  }
  #container #calendar-container {
    width: 100vh;
  }
}
body.dark {
  background-color: #1f1f1f;
  color: black;
}
body.dark #header-container {
  background-color: #223175;
  box-shadow: 2px 2px 10px 2px #1f1f1f;
  border: 1px solid gray;
}
body.dark #header-container #title {
  color: #cccccc;
}
body.dark #header-container #theme-switcher .theme-icon {
  color: #cccccc;
}
body.dark #header-container #theme-switcher .switch .slider {
  background-color: #525252;
}
body.dark #header-container #theme-switcher .switch .slider::before {
  background-color: gray;
}
body.dark #header-container #save-fav {
  background-color: #1d2861;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
body.dark #header-container #save-fav .fav-icon {
  color: #cccccc;
}
body.dark #container #input-container input {
  color: white;
  background-color: #393939;
  border-color: #223175;
}
body.dark #container #input-container input:focus {
  background-color: #454545;
}
body.dark #container #input-container .input-group label {
  color: #cccccc;
}
body.dark #container #input-container #button-container button {
  color: #cccccc;
  font-weight: bold;
}
body.dark #container #input-container #button-container button:first-child {
  background-color: #176238;
}
body.dark #container #calendar-container #calendar {
  background-color: #454545;
  border: none;
}
body.dark #container #calendar-container .fc-timegrid-slot {
  background-color: #6c6c6c;
  border-color: gray;
}
body.dark #container #calendar-container button,
body.dark #container #calendar-container .fc-col-header-cell {
  color: #cccccc;
}
body.dark #container #calendar-container .fc-timegrid-axis {
  background-color: #6c6c6c;
}
body.dark #container #calendar-container .fc-daygrid-day {
  background-color: #6c6c6c;
}
body.dark #container #calendar-container h2 {
  color: #cccccc;
}
/*# sourceMappingURL=style.css.map */